.car1{
    height:500px;
    width: 500px;
}
.car2{
    height: 500px;
    width: 800px;
}
.cat1{
    height:500px;
    width: 500px;
}
.cat{
    color: darkviolet;
}
.google{
    color: indigo;
}

.tesla{
    color: red;
}